.switchcasebody{
 border: 1px solid black;
 margin: auto; 
 padding: 5px 16px; 
 text-transform: uppercase; 
 width: 40%; 
 background: linear-gradient(rgb(255, 255, 255), rgb(200, 200, 255)); 
 border-radius: 10px;
}
#elementselector{
    padding: 10px; 
    text-transform: capitalize; 
    display: block; 
    margin: auto;
}
.btn{
    padding: 10px; 
    display: block; 
    margin: auto; 
    margin-top: 10px;  
    background: linear-gradient(rgb(100, 100, 255), rgb(150, 150, 255)); 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
}


.resultbody {
  width: 40%;
  margin: auto;
  padding: 16px;
  display: flex;
  gap: 16px;
  align-items: center;
  height: 40vh;
  border: 1px solid #000;
  border-radius: 10px;
  background: linear-gradient(#ffffff, #c8c8ff);
}

.result-text {
  flex: 1;
  text-transform: capitalize;
}

.result-text h3 {
  margin-bottom: 8px;
}

.result-text p {
  line-height: 1.5;
}

.result-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.result-image img {
  max-width: 80%;
  max-height: 200px;
  object-fit: contain;
}
@media (max-width: 600px) {
  

    
    .switchcasebody {
        width: 90% !important;
    }

  .resultbody {
    width: 90%;
    flex-direction: column;
    text-align: center;
    height: auto;
  }

  .result-image img {
    max-width: 70%;
  }
}

.nextpagelink{
    
    cursor: pointer;
    width: fit-content;
    margin: auto;
    border:1px solid black;
    margin-top : 2px;
    
}
